
h1 { font-family: fantasy; color:orange; }

h4 { font-family: 'Gill Sans',, sans-serif, sans-serif;style="color=blue"}

body { font-family: Cambria; color: olive; background-color: lavender;}

/* The code below modifies all the content within the <h1> tags */


p { border-style: dashed;}