
h1 { font-family: fantasy; color:orange; }

h4 { font-family: Impact, sans-serif; color:salmon; }

body { font-family: Cambria; color: olive; background-color:lavender; }


p { border-style: dashed;}